body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    height:200px;
    border-radius:30%;
    animation-name:avataran;
    animation-duration:2s;
       
}

.text{ animation-name: textan;
     animation-duration:2s;
}
.card {
    width: auto;
    height: auto;
    margin: auto auto;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    text-align: center;
    background: #ade8f4 ;
    color: #2b2839;
    border-bottom: 6px solid #006d77;
    box-shadow:20px;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: 4;

}
.gif{
    border-radius:30%;
    width:150px;
    height:200px
}
.border-blue {
    border: 1px dotted blue;  
}
.box{
    width:10px;
    height:10px;
    border:solid black;
    animation-name:boxan;
    animation-duration:2s;
}
@keyframes example {
    0% {background:ade8f4; color:2b2839}
    33% {background:black; color:white}
    67%{background:lightpink; color:navy}
    100%{background:ade8f4; color:2b2839}
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
